# This timer prunes sessinos from the token server db
# By David Both
# Licensed under GPL V2
#

[Unit]
After=postgresql.service
Requires=postgresql.service


[Timer]
Unit=ticketweb-authsystem-prunesessions@%i.service
OnUnitActiveSec=1hour

[Install]
WantedBy=timers.target
