graft src/ticketweb_rt_interface_lib
prune src/ticketweb_rt_interface_lib/frontend-module/node_modules
prune src/ticketweb_rt_interface_lib/frontend-module/dist
recursive-exclude src/ticketweb_rt_interface_lib/frontend-module .env*
prune src/ticketweb_rt_interface_lib/frontend-module/.venv

# Explicitly includes the built frontend module,
# while excluding the node_modules subdirectory, which is just a staging directory for the frontend module build process, 
# and may contain very large amount of file content that we don't want to include in the package.
# This is in necessary because, in development mode, upon installing, we will have built the module in-place.
